streamlit==1.56.0

numpy==1.26.4
pandas==2.2.2

librosa==0.10.2.post1
soundfile
audioread

torch
transformers


tiktoken
tokenizers

scipy
matplotlib
wordcloud

requests
tqdm

GitPython

ffmpeg-python
git+https://github.com/openai/whisper.git